:root {
  --user-color: #f44336;
}

form {
  background: rgba(255, 255, 255, 0.4);
  display: flex;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 3rem;
  border-radius: 1rem;
  overflow: hidden;
  margin-top: 2rem;

  @media screen and (max-width: 800px) {
    width: auto;
    margin: 2rem 1rem;
  }

  input {
    font-family: inherit;
    border: none;
    background: transparent;
    font-size: 1.4rem;
    width: 100%;
    padding: 1rem 1.4rem;

    &::placeholder {
      opacity: 0.5;
    }

    &:focus {
      outline: none;
    }
  }

  button {
    width: 200px;
    border: none;
    border-radius: 0;
    background: #333;
    color: white;
    cursor: pointer;
    font-size: 1.2rem;
    font-family: inherit;
  }
}

.user_wrapper {
  display: flex;
  flex-direction: row;
  padding: 2rem 3rem;
  border-radius: 1.6rem;
  background-color: rgba(255, 255, 255, 0.4);
  align-items: center;
  justify-content: center;
  gap: 3rem;
  margin-inline: 2rem;
  margin-bottom: 2rem;

  @media screen and (max-width: 800px) {
    flex-direction: column;
    margin-inline: 1rem;
    gap: 1rem;
    padding: 1rem 1.4rem;
  }

  .error {
    text-align: center;
    font-size: clamp(1.2rem, 3vw, 2rem);
  }

  code {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 0.4rem;
    padding: 0.4rem 0.6rem;
  }

  .col_one {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;

    .image_wrapper {
      display: inline-block;
      position: relative;
      width: 250px;
      height: 250px;
      background: var(--user-color);
      // box-shadow: -10px -3px 31px -1px rgba(0,0,0,0.49);
      box-shadow: 0 0 30px 0px var(--user-color);
      box-sizing: border-box;
      clip-path: circle(50% at center);
      transition: transform 0.4s ease-in-out;

      @media screen and (max-width: 800px) {
        width: 200px;
        height: 200px;
        margin-top: 1.4rem;
      }
    }

    .profile_picture {
      position: absolute;
      top: 8px;
      left: 8px;
      width: 234px;
      height: 234px;
      clip-path: circle(50% at center);

      @media screen and (max-width: 800px) {
        top: 6px;
        left: 6px;
        width: 188px;
        height: 188px;
      }
    }

    .rank {
      color: var(--user-color);
      font-size: 1.6rem;
      width: 80%;
      text-align: center;
      margin: 0;
      text-transform: uppercase;
    }
  }

  .user_list {
    list-style: none;
    padding: 0;

    li {
      // font-size: 1.2rem;
      font-size: clamp(1rem, 3vw, 1.4rem);
      margin-top: 0.4rem;
    }

    i {
      width: 34px;
      margin-right: 0.4rem;
      text-align: center;
      font-size: clamp(1.2rem, 3vw, 1.6rem);
      // font-size: 1.6rem;
    }

    .name {
      // font-size: 2.6rem;
      font-size: clamp(2rem, 5vw, 2.6rem);
      font-weight: bold;

      @media screen and (max-width: 800px) {
        text-align: center;
      }
    }

    .handle {
      margin-bottom: 1.4rem;
      margin-top: -0.4rem;
      // font-size: 1.6rem;
      font-size: clamp(1.2rem, 4vw, 1.6rem);
      font-style: italic;
      color: #333;

      @media screen and (max-width: 800px) {
        text-align: center;
        margin-top: 0;
      }
    }
    @media screen and (max-width: 800px) {
      margin-top: 0;
    }
  }
}
